<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>{{#if title}}{{../title}} - {{/if}}{{app.title}}</title>
    <meta name="description" content="{{app.description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="{{assets}}/head.js"></script>
    <link href="{{assets}}/index.css" rel="stylesheet">
  </head>
  <body class="App">
