<!doctype html>
<html class="no-js" {{ function('language_attributes') }}>
  <head>
    <meta charset="{{ site.charset }}">
    <title>{{ function('wp_title', '|', true, 'right') }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="msapplication-tap-highlight" content="no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {{ function('wp_head') }}

    {% if WP_DEV %}
      {% include 'top.twig' %}
    {% else %}
      {{ function('get_template_part', 'dist/partials/top.dist') }}
    {% endif %}
