{% extends "App.twig" %}

{% set template_class = 'Template--404' %}

{% block content %}
  <div class="Container">
    <div class="Wrap">
      <div class="Grid -l">
        <div class="Grid-cell Width--8/12@m">
          <h1 class="Heading -m">{{ options.heading_404 ? : __('Page not found', 'app') }}</h1>
          <div class="Content">
            {% if options.content_404 %}
              {{ options.content_404 }}
            {% else %}
              <p>
                {{ _e('If you entered a web address please check it was correct.', 'app')  }}
                <a href="{{ site.url }}">{{ _e('Go to homepage.', 'app')  }}</a>
              </p>
            {% endif %}
            {% include 'FormSearch.twig' %}
          </div>
        </div>
        <div class="Grid-cell Width--4/12@m">
          {% include 'Aside.twig' %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
